*{
    outline: 1px solid red;

}
body{
    margin: 0;
    box-sizing: border-box;
}
main{
    height: 900px;
    background: url(./img/SPX2_01.jpg) center center / cover no-repeat;
}
main .title1 h1{
    text-align: center;
    color: aliceblue;
    /* font-size: xx-large; */
}
    
.subtitle1 .container{
    /* width: 700px; */
    margin-top: 1.5rem;

}
.subtitle1 .row{
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.subicon{
    max-width: 50px;
    height: 50px;
}
main .subtitle1 h6{
    overflow-wrap: break-word;
    padding-left: 55px;
    padding-right: 10px;
    color: aliceblue;
}
.appleicon{
    width: 100px;
}
/* .aftersub{
    text-align: center;
    color: aliceblue;
    padding-right: 30px;
    padding-top: 0;

} */
@media screen and (min-width: 768px){
    .subtitle1 .row{
        flex-direction: row;
        flex-wrap: nowrap;
    }
}

.product-feature{
    /* max-height: 680px; */
    width: 100%;
    
}

.second-title{
    margin: 2.5rem auto;
    text-align: center;

}
.product-feature .container .row{
    width: 100%;
    text-align: center;
}
.awards-icon{

}
@media screen and (min-width: 992px){
    .product-feature{
        background: url(./img/æ‰‹.jpg) right bottom / 450px no-repeat fixed;

    }
    .product-feature .container .row{
        max-width: 80%;
    }
    .awards-icon{
        text-align: center;
        margin-top: 3.5rem;
        padding-bottom: 2.5rem;
        /* margin-left: 8rem; */
    }
}

.third-section{
    background-color: #222;
    text-align: center;
    color: aliceblue;

}
.third-section .container{
    padding-top: 3rem;
    padding-bottom: 3rem;

}
.third-section .third-title{
    justify-content: center;
    align-items: center;
}
.tsimg{
    width: 120px;
}
.third-section .container span{
    color: goldenrod;
}
.sound-quality{
    flex-wrap: nowrap;
    overflow-x: auto;
}
@media screen and (max-width:720px) {
    .scroll-snap{
        

    }
}
.intro{
    margin-top: 2.5rem;
}
@media screen and (min-width: 768px){
    .earphonebg{

    }
}

.four-section{

    background: url(./img/4bg.png) center center / cover ;
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: aliceblue;
    text-align: center;

}
.four-section .container span{
    color: goldenrod;
}
.fimg img{
    width: 100%;
}
@media screen and (min-width: 576px){
    .fimg img{
        width: 70%;
    }
}
.five-section{
    background-color: #111;
    padding-top: 3rem;
    /* padding-bottom: 3rem; */
    text-align: center;
    color: aliceblue;

}
.five-section span{
    color: goldenrod;

}
.fvimg{
    margin: 0 auto;
    min-width: 70px;
    max-width: 50px;
    /* min-width: 10%;
    max-width: 15%; */

}

.six-section{
    padding-top: 6rem;


}

.six-section .simg{
    /* min-width: 800px;
    max-width: 400px; */
    text-align: center;
    margin: 0 auto;
    /* justify-content: center;
    align-items: center;
    flex-wrap: wrap; */

}
/* @media screen and (max-width: 768px){
    .simg img{
        width: 65%;
        display: block;
    }
} */
.six-intro .six-red{
    color: rgb(217, 0, 0);
}
.six-intro .six-title{
    font-weight: bold;
}
.japanese .wrap .col{
    /* width: 100px; */
}