/* *{
    outline: 1px solid red;

} */
body{
    margin: 0;
    box-sizing: border-box;
}
main{
    height: 900px;
    background: url(./img/SPX2_01.jpg) center center / cover no-repeat;
}
main .title1 h1, main .title1 h3{
    text-align: center;
    color: aliceblue;
    /* font-size: xx-large; */
}
    
.subtitle1 .container{
    /* width: 700px; */
    margin-top: 1.5rem;

}
.subtitle1 .row{
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.subicon{
    max-width: 50px;
    height: 50px;
}
main .subtitle1 h6{
    overflow-wrap: break-word;
    padding-left: 55px;
    padding-right: 10px;
    color: aliceblue;
}
.appleicon{
    width: 100px;
}
/* .aftersub{
    text-align: center;
    color: aliceblue;
    padding-right: 30px;
    padding-top: 0;

} */
@media screen and (min-width: 768px){
    .subtitle1 .row{
        flex-direction: row;
        flex-wrap: nowrap;
    }
}

.product-feature{
    /* max-height: 680px; */
    width: 100%;
    
}

.second-title{
    text-align: center;
    margin-top: 3rem;


}
.product-feature .container .row{
    width: 100%;
    text-align: center;
}
.awards-icon{
    text-align: center;
    padding-bottom: 3rem;
}
@media screen and (min-width: 992px){
    .product-feature{
        background: url(./img/æ‰‹.jpg) right bottom / 450px no-repeat;

    }
    .product-feature .container .row{
        max-width: 80%;
    }
    .awards-icon{
        margin-top: 3.5rem;
        padding-bottom: 2.5rem;
        /* margin-left: 8rem; */
    }
}

.third-section{
    background-color: rgba(0, 0, 0, 0.914);
    text-align: center;
    color: aliceblue;

}
.third-section .container{
    padding-top: 3rem;
    padding-bottom: 3rem;

}
.third-section .third-title{
    justify-content: center;
    align-items: center;
}

.third-section .container span{
    color: goldenrod;
}
.sound-quality{
    flex-wrap: nowrap;
    overflow-x: auto;
}
@media screen and (max-width:720px) {
    .tsimg{
        width: 100px;
    }
}
.intro{
    margin-top: 2.5rem;
}
@media screen and (max-width: 576px){
    .xtraimg{
        padding-top: 20px;
    }
}

.four-section{
    background-color: rgba(0, 0, 0, .6);
    background: rgba(0, 0, 0, .6) url(./img/4bg.png) center center / cover fixed ;
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: aliceblue;
    text-align: center;

}
.four-section .container span{
    color: goldenrod;
}
.fimg img{
    width: 100%;
}
@media screen and (min-width: 576px){
    .fimg img{
        width: 70%;
    }
}
.five-section{
    background-color: rgba(0, 0, 0, 0.962);
    padding-top: 3rem;
    /* padding-bottom: 3rem; */
    text-align: center;
    color: aliceblue;

}
.five-section span{
    color: goldenrod;

}
.fvimg{
    margin: 0 auto;
    min-width: 70px;
    max-width: 50px;
    /* min-width: 10%;
    max-width: 15%; */

}

.six-section{
    padding-top: 6rem;


}

.six-section .simg{
    text-align: center;
    margin: 0 auto;

}
.amusic{
    transition: 1s;
}
.aset{
    transition: 1s;
}
/* @media screen and (max-width: 768px){
    .simg img{
        width: 65%;
        display: block;
    }
} */
.six-intro .six-red{
    color: rgb(217, 0, 0);
}
.six-intro .six-title{
    font-weight: bold;
}
.seven-section{
    margin: 6rem auto;
}
.seven-section .container h2 span,.seven-section .container h3 span{
    color: goldenrod;
}
.seven-section .container h4{
    max-width: 15%;
    /* max-width: 30%; */
    margin: 0 auto;
    color: #555;
    padding: 6px 0;
    border: 2px solid #555;
    border-radius: 8px;
}
.jpbgc{
    color: whitesmoke;
    padding: 4px 8px;
    margin-right: 1.5rem;
    border-radius: 4px;
    background-color: goldenrod;
}
.jpsubtitle h6{
    font-weight: bold;
}
.jpsubintro .small{
    color: #555;
}
@media screen and (max-width: 768px){
    .seven-section .container h4{
        max-width: 40%;
    }
    .jpintro{
        margin-top: 20px;
    }
    .jpimg{
        display: flex;
        align-items: center;
    }
    .wrap{
        flex-direction: column;
    }

}

footer{
    background-color: goldenrod;
    color: #333;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
}